<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.am.my_feed">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".util.AMApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- START Launcher Screen -->
        <activity
            android:name=".intro.SplashActivity"
            android:launchMode="singleTop"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- END Launcher Screen -->

        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".intro.WelcomeActivity"
            android:theme="@style/TranslucentStatusBarTheme" />
        <activity
            android:name=".article.ArticleDetailsActivity"
            android:label="@string/title_activity_article_details"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.am.my_feed.main.MainActivity" />
        </activity>
    </application>

</manifest>