<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.am.my_feed">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".util.AMApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".intro.SplashActivity"
            android:launchMode="singleTop"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".intro.WelcomeActivity"
            android:theme="@style/TranslucentStatusBarTheme" />

        <!--
         this activity enables the search dialog to initiate searches
         in the SearchableActivity
        -->
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name">

            <!-- enable the search dialog to send searches to SearchableActivity -->
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".search.SearchResultsActivity" />
        </activity>
        <activity
            android:name=".article.ArticleDetailsActivity"
            android:label="@string/title_activity_article_details"
            android:parentActivityName=".main.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.am.my_feed.main.MainActivity" />
        </activity>

        <!-- this is the searchable activity; it performs searches -->
        <!-- this is the searchable activity; it performs searches -->
        <activity android:name=".search.SearchResultsActivity"
            android:parentActivityName=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

    </application>

</manifest>